*.aux
*.bbl
*.blg
*.log
*.out
*.toc
.*.swp
*.synctex
*.pdf
*.dvi

/thirdparty/
/lib/
/bin/
Makefile
*/CMakeFiles/
/CMakeFiles/
*.cmake
CMakeCache.txt
out/

*.pptx
*.xlsx
*.sty
*.gz
*.dtx

x64/*
.vs/*
*/x64/*
*/.vs/*
*/*.user

log.txt
*/log.txt

*.bin
*.json

*.psess
*.vspx
frontend/My Amplifier Results - frontend/
frontend/My Advisor Results - frontend/

.DS_Store
*/.DS_Store
/SMQP/.DS_Store
/SMQP/TPCHQ1/*
/SMQP/TPCHQ3/1M/*
/SMQP/TPCHQ3/10M/*
/SMQP/TPCHQ3/100M/*
/SMQP/TPCHQ3/1G/*
/SMQP/TPCHQ3/GenPI*
/SMQP/TPCHQ3/Q3.txt
!/SMQP/TPCHQ3/1M/*_pi.csv
/SMQP/graph/*
/SMQP/TPCHQ4/*
/SMQP/TPCHQ11/*
/SMQP/TPCHQ10/*
/SMQP/TPCHQ18/*
/SMQP/TPCH/*


